@import '~@angular/material/theming';

// Define the theme you want to use.
$custom-theme: mat-light-theme((
  color: (
    primary: mat-palette($mat-blue),
    accent: mat-palette($mat-amber),
  ),
  typography: null  // This removes default typography styles.
));

// Apply the theme color styles only.
@include angular-material-theme($custom-theme);
